@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Very-Dark-Blue: #4c4e61;
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Very-Light-Gray);
}

.heading {
    text-align: center;
}

.heading span {
    font-size: 30px;
    color: var(--Very-Dark-Blue);
    font-weight: 300;
}

.heading h1 {
    font-size: 30px;
    color: var(--Very-Dark-Blue);
}

.container p, .heading p {
    font-size: 15px;
    color: var(--Grayish-Blue);
}

.container {
    width: 70%;
    position: relative;
    margin-top: 50px;
}

.container h2 {
    font-size: 22px;
    color: var(--Very-Dark-Blue);
}

.container img {
    width: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

div {
    border-top: 3px solid;
    box-shadow: 0px 0px 10px #4c4e61;
    width: calc(70% / 2.3);
    height: 200px;
    position: relative;
    padding: 2rem;
    border-radius: 5px;
}

.team-builder {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-color: var(--Red);
}

.supervisor {
    position: absolute;
    top: calc(200px / 1.5);
    border-color: var(--Cyan);
}

.calculator {
    position: absolute;
    right: 0;
    top: calc(200px / 1.5);
    border-color: var(--Blue);
}

.karma {
    position: absolute;
    top: calc(400px / 1.5);
    left: 50%;
    transform: translate(-50%);
    border-color: var(--Orange);
}